.App {
  text-align: center;
}
@font-face {
  font-family: 'VerdanaCustom';
  src: url('./assets/fonts/verdana/VERDANAI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('./assets/fonts/oswald/Oswald-VariableFont_wght.ttf') format('truetype');
}

/* body {
  font-family: 'VerdanaCustom', Verdana, sans-serif;
} */